body {
    margin: 0;
    font-family: "Roboto", sans-serif; /* Шрифт на странице*/
}
.main {
    position: relative;
    max-width: 700px;
    margin: auto;
    padding-top: 50px;
}
.textPole {
    position: relative;
    width: 610px;
    margin: auto;
    margin-bottom: 50px;
}
.text {
    width: 600px;
    padding: 5px;
    resize: none;
    outline: none;
    border: 1px solid rgba(49, 49, 49, 0.384);
}
.ssil {
    position: absolute;
    top: 2px;
    left: 2px;
    transition: 0.5s;
    font-size: 15px;
    color: rgba(29, 28, 28, 0.8);
}

.button {
    padding: 10px 20px;
    border: none; /*Отключение обводки кнопки*/
    border-radius: 5px; /*Скругление углов кнопки*/
    cursor: pointer;
    color: #8d0019;
    background: #e9e8e8;
    box-shadow: 0 3px 2px #999;
    transition: background 0.5s;
}
.button:hover {
    background: #dad9d9;
}
.button:active {
    box-shadow: 0 1px 2px rgb(83, 83, 83);
    transform: translateY(2px);
}
.bufer {
    font-size: 15px;
    position: absolute;
    text-align: center;
    top: 213px;
    left: 38px;
}
.buttonPole {
    margin: auto;
    width: 86px;
}
.raskladka {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    padding-bottom: 40px;
    padding-top: 40px;
}
.buttonText {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 10px 18px;
    margin: 0 4px;
    border-radius: 5%;
    transition: background 0.4s;
}
.leftImg {
    opacity: 0.3;
    transition: opacity 0.3s;
}
.rightImg {
    transition: opacity 0.3s;
}
.buttonText:hover {
    /*background: rgba(190, 189, 189, 0.274);*/
}
.eng {
    display: flex;
    min-width: 160px;
    align-items: center;
    justify-content: flex-end;
}
.rus {
    display: flex;
    min-width: 160px;
    align-items: center;
}
.rightImg1 {
    transform: scale(-1, 1);
}
